body{
    background: #F0F0F0;
    font-size: 12px;
    font-family: Montserrat, Verdana, Helvetica, Helvetica Neue, Microsoft Yahei, Arial;
    
    a{
        cursor: pointer;
    }
}
.hide {display:none}
.wrapper {
    min-width: 840px;
}