#header{
    background:#F9F9F9 url(../images/logo.png) no-repeat 50% 60px;
    height: 300px;
    overflow:hidden;
    border-bottom: 1px solid #D6D6D6;
    
    position: relative;
    
    .logo-link {
        position: absolute;
        width: 106px;
        height: 106px;
        left: 50%;
        margin-left: -53px;
        top: 60px;
    }
}
#nav {
    width: 650px;
    margin: 218px auto 0;
    overflow: hidden;
    
    li {
        float: left;
        width: 162px;
        overflow: hidden;
        text-align: center;
    }
    
    li.current a { color: #444 }
    
    a {
        color: #999999;
        line-height: 40px;
        font-weight: 500;
        font-size: 14px;
        
        &:hover {
            color: #444444;
        }
    }
    
}