<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jeeart</title>
    <meta name="apple-touch-fullscreen" content="yes" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />

    <script src="{{MEDIA_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{MEDIA_URL}}js/modernizr.js"></script>
    
    {% block css_link %} {% endblock %}
    
</head>

<body>
    <div class="wrapper">
        <div id="header">
            {% block nav %} {% endblock %}
        </div>
    
    {% block page_content %}{% endblock %}
    </div>
</body>
</html>
