{% extends "base.html" %}
{% load url from future %}

{% block css_link %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/page_blog.css?t=130726" />
{% endblock %}

{% block nav %}
<div class="logo-wrapper"><a href="/" class="logo-link"><img alt="" src="{{MEDIA_URL}}images/logo_03.png" /></a></div>
<nav>
    <ul id="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/#about">我们</a></li>
        <li class="current"><a href="/blog">博客</a></li>
        <li><a href="/dispic">DISPIC</a></li>
    </ul>
</nav>
<div class="ong-info">
    Design your trust<br/>
    &copy; ong
</div>
{% endblock %}

{% block page_content %}
    <div id="content">
        <div id="posts">
            <ul class="posts-ul">
                {% for blog in blog_list %}
                <li>
                    <div class="post-hd">
                        <h2>{{blog.title}}</h2>
                        <span class="post-time">{{blog.last_edit_time|date:"d/n/Y"}}</span>
                    </div>
                    <div class="post-con">
                        {{blog.content|safe}}
                    </div>
                </li>    
                {% endfor %}    

            </ul>
        </div>
    </div>
    <script src="{{MEDIA_URL}}js/jquery.flexslider-min.js"></script>
    <script src="{{MEDIA_URL}}js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/pages/home.js?t=130726"></script>
{% endblock %}